/* browser reset */
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    // this defines what 1rem is
    /* font-size: 10px; */
    font-size: 62.5%; /* 10/16=6.25 */
}

body {
    box-sizing: border-box;
}